*{
Margin: 0px;
padding: 0px;
box-sizing: border-box;
text-align: center;
}
body {
    background-color: rgb(218, 242, 250);
}

.title {
    color: rgb(80, 80, 255);
    font-size: 90px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

body {
    background-color:rgba(214, 244, 254, 0.804);
}
/* text below controls all links, how to choose seperate links*/
a{
    font-size: 18px;
    color:darkcyan;
    
}
.chickenkatsu{
    border-style: ridge;
}
.chefcat



/* do these lists do anything*/
list1{
   align-items: center;
}

/*do these lists do anything*/

.header {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: cornflowerblue;
    font-size: 80px;
    border-style: double;   
}

.ingredientsbox {
    padding: 10px;
    margin: 10px;
    border: 10px;
    border-style: ridge;
}

